### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "/Users/treazkenshin/Downloads/cwru-cle-data-pt-01-2021-u-c-master-Homework-04-Pandas-Instructions/Homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [38]:
# Use the length of list of screen names "SN", for total players.
total_players = len(purchase_data["SN"].value_counts())
# Create a data frame with total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [196]:
# Calculate average price
average_price = purchase_data["Price"].mean()
# Calculate # of unique purchase items
unique_items = len((purchase_data["Item ID"]).unique())
# Calculate total purchases
total_purchases = (purchase_data["Purchase ID"]).count()
# Calculate total revenue
total_revenue = (purchase_data["Price"]).sum()
# Purchase anaylsis summary frame
purchase_analysis = {'Average Price': [average_price],
                    'Number of Purchases': [total_purchases],
                    'Number of Unique Items': [unique_items],
                    'Total Revenue': [total_revenue]}
purchase_analysis_df = pd.DataFrame(purchase_analysis)
# Set currency formatting
purchase_analysis_df = purchase_analysis_df.style.format({'Average Price':'${:,.2f}',
                                                          'Total Revenue':'${:,.2f}'})
# Display summary frame
purchase_analysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [70]:
#Get counts of each gender
gender_stats = purchase_data["Gender"].value_counts()
gender_stats

#Get percentage of genders
gender_percent = purchase_data["Gender"].value_counts(normalize=True)*100
gender_percent.round()

Male                     84.0
Female                   14.0
Other / Non-Disclosed     2.0
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [189]:
# Group purchase_data by Gender
gender_stats = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [134]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [110]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [136]:
#SN Purchase count
SN_count = purchase_data.groupby("SN")["Price"].count()
SN_count

#SN purchase count average
SN_average = purchase_data.groupby("SN")["Price"].mean()


#SN total purchase value
SN_total = purchase_data.groupby("SN")["Price"].sum()
SN_total

# Create data frame with obtained values
SN_purchases = pd.DataFrame({"Purchase Count": SN_count,
                                 "Average Purchase Price": SN_average,
                                 "Total Purchase Value": SN_total})

# Format the data frame with no index name in the corner
SN_purchases.index.name = None

# Format with currency style
SN_Final = SN_purchases.style.format({'Average Purchase Price':"${:,.2f}",
                                      'Total Purchase Value':"${:,.2f}"})

SN_Final = SN_purchases.sort_values('Total Purchase Value', ascending=False)

SN_Final

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [164]:
# Create new data frame with items above
items = purchase_data[["Item ID", "Item Name", "Price"]]
# Group the item data by item id and item name
item_stats = items.groupby(["Item ID","Item Name"])
# Count the number of times an item has been purchased
purchase_count_item = item_stats["Price"].count()
# Calcualte the purchase value per item
purchase_value = (item_stats["Price"].sum())
# Find individual item price
item_price = purchase_value/purchase_count_item
# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item,
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
# Format with currency style & display summary dataframe
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [165]:
# Create new data frame with items above
items = purchase_data[["Item ID", "Item Name", "Price"]]
# Group the item data by item id and item name
item_stats = items.groupby(["Item ID","Item Name"])
# Count the number of times an item has been purchased
purchase_count_item = item_stats["Price"].count()
# Calcualte the purchase value per item
purchase_value = (item_stats["Price"].sum())
# Find individual item price
item_price = purchase_value/purchase_count_item
# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item,
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
# Format with currency style & display summary dataframe
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})